{% extends 'base.html' %}


{% block title %}
Sign up
{% endblock title %}
    


{% block content %}

<form action="" method="post">
    <div class="container d-flex flex-column">
        <h3 class="align-self-center mt-2">Sign Up</h3>
        <div class="p-2">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
        <div class="p-2">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name">
        </div>
        <div class="p-2">
            <label for="password1" class="form-label">Password</label>
            <input type="password" id="password1" name="password1" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <div class="p-2">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password" id="password2" name="password2" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <button type="submit" class="btn btn-primary align-self-start m-2">Submit</button>
    </div>

    <br>
</form>
{% endblock content %}
    